ol > li {
    background-color: yellow;
  }
  ol > li:nth-child(2n) {
    color: green;
  }
  ol > li:nth-child(2n+1) {
    text-transform: uppercase;
  }
  h1, h3 {
    color: red;
  }
  h1 em /*O em significa os h1 em italico*/ {
    font-size: 40px;
    border: 1px solid black;
  }
  li {
    font-size: 20px;
  }
  li em {
    font-weight: bold;
  }
  ul:first-of-type > li:nth-child(-n+3) {
    color: blue;
}