.super-mario {
    width: 100px;
    position: absolute;
    top: 80px;
  }
  
  .goomba {
    
    width: 100px;
    position: absolute;
    top: 225px;
  }
  
  .baloon {

    position: absolute;
    width: 400px;
    top: 400px;
    left: 30px;
    z-index: 1;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    top: 460px;
    left: 70px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    
  }