.super-mario {
    width: 100px;
    position: absolute;
    top: 80px;
  }
  
  .goomba {
    
    width: 100px;
    position: absolute;
    top: 225px;
  }
  
  .baloon {
  
  }
  
  .speech {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
    
  }