.super-mario {
    width: 100px;
    position: absolute;
    top: 80px;
  }
  
  .goomba {
    
    width: 100px;
    position: absolute;
    top: 225px;
  }
  
  .baloon {

    position: absolute;
    width: 400px;
    top: 20px;
    left: 200px;
    z-index: 1;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    top: 45x;
    left: 250px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 200px;
    
  }